/* CSS */
@charset "UTF-8";

#wrapper
{
    width: 960px;
    height: 800px;
    margin-right: auto;
    margin-left: auto;
    background-color: azure;
}

#right-column
{
    float:right;
    width:600px;
    height: 600px;
    background-color:aliceblue;
}
#left-column
{
    float: left;
    width: 360px;
    height: 600px;
    background-color: beige;
}

body{
    /*background-color: black;*/
    background: linear-gradient(to bottom, red 0%,yellow 100%);
   /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    padding: 0px;
    margin: 0px;
}

h1,h2,h3,h4,h5,h6,p,li{
    margin-left: 5px;
}
#banner h1
{
    color: aqua;
}
#footer
{
    height: 100px;
}
#banner
{
    background-color: blanchedalmond;
    height: 120px;
}
.box
{
    height: 150px;
    width: 150px;
    float: left;
    background-color: tan;
    margin: 15px;
    border-radius: 75px;
    opacity: .5;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
background: radial-gradient(ellipse at center,  #fefcea 0%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.clear
{
    clear: both;
}
.box:hover{
    background-color: white;
    opacity: 1;
}